@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

/*Общие стили для страницы*/

body {
  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background-color: white;
  margin: 0;
  padding: 0;

  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  user-select: none;
  object-fit: cover;
  object-position: center;
}

/*Стили для элементов, которые встречаются на странице множество раз*/

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.heading {
  text-align: center;
}

.heading b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading p {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 22px;
}

.main-header {
  background: #FFFFFF;
  font-size: 20px;
  height: 64px;
}

/*Стили для раздела навигации*/

nav {
  display: flex;
  position: relative;
  height: inherit;
  padding: 0 70px 0 70px;
  align-items: center;
}

.header-logo {
  width: 140px;
  height: 70px;
  left: 0px;
  top: 0px;
  margin-right: 30px;
}

/*Стили для навигационных списков*/

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  width: 339px;
  height: 64px;
  margin-right: auto;
}

.navigation-item {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-item--current {
  border-bottom: 2px solid #756257;
}


.navigation-link {
  color: black;
  text-decoration: none;
}

/*Стили для навигационного меню справа*/

.navigation-menu {
  width: 268px;
  margin: 0 0 0 auto;
}

.navigation-menu .navigation-item {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu .navigation-item:first-child {
  background-image: url('../images/search-img.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 100%;
  overflow: hidden;
}

.navigation-menu .navigation-item:nth-child(2) {
  background-image: url('../images/selected-img.svg');
  background-repeat: no-repeat;
  background-position: center;
  width:44px;
  height: 100%;
}


.navigation-menu .navigation-item:last-child {
  width: 160px;
  padding: 0;
}

.navigation-menu .navigation-item .navigation-link:last-child {
  color: white;
  font-size: 16px;
}

/*Стили для секции hero*/

.hero {
  position: relative;
  top: 0;
  text-align: center;
}

.hero-background {
  position: absolute;
  height: 485px;
  top: 0;
  z-index: -2;
}

.hero-greetings {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 7px;
}

/*Стили для разделителя*/

.hero-devider-1,
.hero-devider-2 {
  height: 0;
}

.hero-devider-1::before,
.hero-devider-1::after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
}

.hero-devider-1::before {
  border-right: 370px solid transparent;
}

.hero-devider-1::after {
  border-left: 370px solid transparent;
  margin-right: auto;
}

.hero-devider-2::before,
.hero-devider-2::after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 57px solid white;
}

.hero-devider-2::before {
  border-right: 600px solid transparent;
}

.hero-devider-2::after {
  border-left: 600px solid transparent;
  margin-right: auto;
}

/*Стили для текста в секции hero*/

.hero-text {
  margin-top: 150px;
  margin-bottom: 90px;
}

